__maket
размеры.png
README.MD
Sound Board/sounds/sound1.mp3
Sound Board/sounds/sound2.mp3
Sound Board/sounds/sound3.mp3
Sound Board/sounds/sound4.mp3


Movie App/index.html
Movie App/scripts.js
Movie App/style.css
Content Placeholder/index.html
Content Placeholder/scripts.js
Content Placeholder/style.css
